### Booking_hotel Data

In [1]:
# importing pandas, numpy, matplotlib and seaborn libraries in python
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# load data set of booking_hotel in pandas data frame
# Encoding error: UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa0 in position 
# 251: invalid start byte, changed encoding to 'ISO-8859-1'
df_booking_hotel = pd.read_csv('data/booking_hotel.csv', encoding='ISO-8859-1')

### Data Cleaning

In [3]:
# changing columns into lower case and replacing seperator comma(,) with underscore (_)
df_booking_hotel.columns = df_booking_hotel.columns.str.lower().str.replace(' ','_')

In [4]:
# Renaming columns
df_booking_hotel.rename(columns={'rating' : 'hotel_rating','number_of___': 'no_of_reviews', 'room____score': 'room_score'}, inplace=True)

In [5]:
# Remove wide spaces in the front or back
df_booking_hotel["hotel_name"] = df_booking_hotel["hotel_name"].str.strip()

In [6]:
# Removing '?' from the hotel_name column
df_booking_hotel['hotel_name'] = df_booking_hotel['hotel_name'].str.replace('?','', regex= True)

In [7]:
df_booking_hotel['room_price_(in_bdt_or_any_other_currency)'] = df_booking_hotel['room_price_(in_bdt_or_any_other_currency)'].str.replace('?','', regex= True)

In [8]:
# Starting all rows of hotel_name column from the same position
df_booking_hotel['hotel_name'] = df_booking_hotel['hotel_name'].str.ljust(100)
df_booking_hotel['location'] = df_booking_hotel['location'].str.ljust(100)
df_booking_hotel['review_score'] = df_booking_hotel['review_score'].str.ljust(100)
df_booking_hotel['room_type'] = df_booking_hotel['room_type'].str.ljust(100)
df_booking_hotel['bed_type'] = df_booking_hotel['bed_type'].str.ljust(100)

In [9]:
# Checking for unique values in hotel_rating column
df_booking_hotel['hotel_rating'].unique()

array(['8.2', '7.1', '8.3', '7.7', '9.3', '8.1', '7.6', '9.4', '9.1',
       '8.5', '8.6', '8', '8.7', '7.9', '7.3', '7.2', '7.4', '8.4', '6.3',
       '9', '8.9', nan, '8.8', '6.9', '6.5', '6.1', '6.8', '6.7', '7.8',
       '6.6', '7', '5.2', '7.5', '5.8', '9.6', '9.7', '9.2', '9.5', '9.9',
       '5.6', '6.4', '6', '10', '5', '9.8', '1', '5.5', '3', '6.2', '5.9',
       '5.7', '4.6', '4.4', 'Exceptional 10', '3.4', '5.4', '3.2', '4.5',
       '5.3', '2.5', '3.5', 'Wonderful 9.0', '4.3', '3.7', '5.1', '4.8',
       '4.9'], dtype=object)

In [10]:
# Removing the word Exceptional and Wonderful from the columns.
df_booking_hotel['hotel_rating'] = df_booking_hotel['hotel_rating'].str.replace('Exceptional', '', regex=True)
df_booking_hotel['hotel_rating'] = df_booking_hotel['hotel_rating'].str.replace('Wonderful', '', regex=True)

In [11]:
df_booking_hotel['no_of_reviews'] = df_booking_hotel['no_of_reviews'].str.replace('1 review', '1', regex=True)

In [12]:
# convert title case of hotel_name
df_booking_hotel['hotel_name'] = df_booking_hotel['hotel_name'].str.title()

In [13]:
# finding nan values in our data set
df_booking_hotel.isnull().sum()

hotel_name                                     0
location                                       0
hotel_rating                                 100
review_score                                 106
no_of_reviews                                106
room_score                                   756
room_type                                      0
bed_type                                      16
room_price_(in_bdt_or_any_other_currency)      0
dtype: int64

In [14]:
df_booking_hotel.duplicated(keep='first')

0       False
1       False
2       False
3       False
4       False
        ...
3460    False
3461    False
3462    False
3463    False
3464    False
Length: 3465, dtype: bool

In [15]:
df_booking_hotel['room_price_(in_bdt_or_any_other_currency)'] = df_booking_hotel['room_price_(in_bdt_or_any_other_currency)'].str.replace('?', '').str.replace(',', '').astype(float)

/var/folders/5_/yzn14qsd6_1cqt71zmjgqfsh0000gn/T/ipykernel_78202/3928043215.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_booking_hotel['room_price_(in_bdt_or_any_other_currency)'] = df_booking_hotel['room_price_(in_bdt_or_any_other_currency)'].str.replace('?', '').str.replace(',', '').astype(float)

In [16]:
df_booking_hotel['room_price_(in_bdt_or_any_other_currency)'] = df_booking_hotel['room_price_(in_bdt_or_any_other_currency)'].replace('', np.nan).astype(float)

In [17]:
df_booking_hotel['room_price_(in_bdt_or_any_other_currency)']

0        146026.0
1        215304.0
2        435384.0
3        146240.0
4        621072.0
          ...
3460     209678.0
3461     118712.0
3462    1177140.0
3463     227402.0
3464     648803.0
Name: room_price_(in_bdt_or_any_other_currency), Length: 3465, dtype: float64

In [18]:
# Converting currency from Bangladeshi Rupee in to US dollars and multiplying by 30 to get data for each night
df_booking_hotel['room_price_(in_bdt_or_any_other_currency)'] = (df_booking_hotel['room_price_(in_bdt_or_any_other_currency)'] * 0.0091) / 30

In [19]:
# Change name of room price column 
df_booking_hotel.rename(columns={'room_price_(in_bdt_or_any_other_currency)': 'room_price(USD)'},inplace=True)

In [20]:
# changing hotel rating data type from object into float 
df_booking_hotel['hotel_rating'] = pd.to_numeric(df_booking_hotel['hotel_rating'], errors='coerce')

In [21]:
# Changing data type from object to float
df_booking_hotel['no_of_reviews']= pd.to_numeric(df_booking_hotel['no_of_reviews'], errors='coerce')

In [22]:
# Changing data type from object to float
df_booking_hotel['room_score']= pd.to_numeric(df_booking_hotel['room_score'], errors='coerce')

In [23]:
df_booking_hotel.duplicated().value_counts()

False    2419
True     1046
dtype: int64

In [24]:
df_booking_hotel.drop_duplicates(inplace=True)

In [25]:
# Round the decimal to 2 points in the room_price column
df_booking_hotel['room_price(USD)'] = df_booking_hotel['room_price(USD)'].round(2)

In [26]:
# calculate average of hotel_rating column
df_booking_hotel['hotel_rating'].mean().round(1)

8.2

In [27]:
df_booking_hotel['hotel_rating'].isna().count()

2419

In [28]:
# Replacing the NaN values with average value 8.2
df_booking_hotel['hotel_rating'].fillna('8.2', inplace=True)

In [29]:
# calculate average of hotel_rating column
df_booking_hotel['no_of_reviews'].mean().round(1)

317.5

In [30]:
# Replacing the NaN values with average value 317.5
df_booking_hotel['no_of_reviews'].fillna('317.5', inplace=True)

In [31]:
# calculate average of room_score column
df_booking_hotel['room_score'].mean().round(1)

8.8

In [32]:
# Replacing the NaN values with average value 8.8
df_booking_hotel['room_score'].fillna('8.8', inplace=True)

In [33]:
df_booking_hotel.dtypes

hotel_name          object
location            object
hotel_rating        object
review_score        object
no_of_reviews       object
room_score          object
room_type           object
bed_type            object
room_price(USD)    float64
dtype: object

In [34]:
# changing hotel rating data type from object into float 
df_booking_hotel['hotel_rating'] = pd.to_numeric(df_booking_hotel['hotel_rating'], errors='coerce')

In [35]:
# Create a new column of final_review_score from the corresponding values in the hotel_rating column and giving it values ranging form exceptional to fair

df_booking_hotel['final_review_score'] = df_booking_hotel['hotel_rating'].apply(lambda x: 'Exceptional' if x >= 10 else ('Wonderful' if x >= 9 else ('Very good' if x >= 8 else ('Good' if x >= 7 else ('Pleasant' if x >= 6 else 'Fair')))))

In [36]:
#Dropping the review_score column from my data frame becasue it has a lot of null values along with int and text in the same column

df_booking_hotel = df_booking_hotel.drop('review_score', axis=1)

In [37]:
# Data type automatically changed from float to object, changing data type again
# Changing data type from object to float
df_booking_hotel['no_of_reviews']= pd.to_numeric(df_booking_hotel['no_of_reviews'], errors='coerce')

In [38]:
df_booking_hotel['room_score']= pd.to_numeric(df_booking_hotel['room_score'], errors='coerce')

In [39]:
df_booking_hotel.head()

,hotel_name,location,hotel_rating,no_of_reviews,room_score,room_type,bed_type,room_price(USD),final_review_score
0,Krabi La Playa Resort - Sha Plus ...,Ao Nang Beach ...,8.2,141.0,8.6,Deluxe Double or Twin Room ...,1 double or 2 twins ...,44.29,Very good
1,Kc Beach Club & Pool Villas ...,"Chaweng City Center , Chaweng ...",7.1,193.0,8.8,Double Room with Balcony and Sea View ...,1 queen bed ...,65.31,Good
2,Rawai Vip Villas & Kids Park ...,Rawai Beach ...,8.3,63.0,8.9,2 Bedroom Pool Villa ...,2 queen beds ...,132.07,Very good
3,"Furamaxclusive Sathorn, Bangkok ...","Bang Rak, Bangkok ...",7.7,317.5,8.1,Executive Double Room ...,1 full bed ...,44.36,Good
4,Bo Phut Resort And Spa - Sha Plus ...,Bophut ...,9.3,294.0,9.6,Villa with Garden View ...,1 double or 2 twins ...,188.39,Wonderful

## Tripadvisor Data

In [40]:
#import
import pandas as pd
import numpy as np
import matplotlib as pyplot
import seaborn as sns

In [41]:

df_tripadvisor_room = pd.read_csv('data/tripadvisor_room.csv')

In [42]:
#checking for null values in all columns
df_tripadvisor_room.isnull().sum()

property name                                   0
Room Price (in BDT or any other currency)    1346
review_count                                    0
Comment about room                           1004
dtype: int64

## Data Cleaning

In [43]:
#lowercase for column names and add '_' between each word 
df_tripadvisor_room.columns = df_tripadvisor_room.columns.str.lower().str.replace(' ', '_')

In [44]:
# rename column names
df_tripadvisor_room.rename(columns={'property_name_': 'property_name','comment_about_room':'room_reviews'},inplace = True)

In [45]:
#removing numbers before property_name
df_tripadvisor_room['property_name'] = df_tripadvisor_room['property_name'].str.lstrip('0123456789.  ')

In [46]:
#removing special characters before and after property name
df_tripadvisor_room['property_name'] = df_tripadvisor_room['property_name'].str.removesuffix('"').str.removeprefix('"').str.replace('�','')

#justification of columns
df_tripadvisor_room['property_name'] = df_tripadvisor_room['property_name'].str.ljust(50)

# convert to title case
df_tripadvisor_room['property_name'] = df_tripadvisor_room['property_name'].str.title()

In [47]:
# unique hotel name
df_tripadvisor_room['property_name'].nunique()

4338

In [48]:
##replace('�','')
df_tripadvisor_room['room_price_(in_bdt_or_any_other_currency)'] = df_tripadvisor_room['room_price_(in_bdt_or_any_other_currency)'].str.replace('�','')

In [49]:
# replace('�','"')
df_tripadvisor_room['room_reviews'] = df_tripadvisor_room['room_reviews'].str.replace('�','').str.replace('"','').str.replace('.', '',regex=True)

#reviews in lower case & justification
df_tripadvisor_room['room_reviews'] = df_tripadvisor_room['room_reviews'].str.lower().str.ljust(60)

## Change data types

In [50]:
# convert string to numeric
# replace ',' wth ''
df_tripadvisor_room['review_count'] = df_tripadvisor_room['review_count'].str.replace(',', '').str.replace('1 review', '1')

df_tripadvisor_room['room_price_(in_bdt_or_any_other_currency)'] = df_tripadvisor_room['room_price_(in_bdt_or_any_other_currency)'].str.replace(',', '')

In [51]:
#change to int
df_tripadvisor_room['review_count'] = pd.to_numeric (df_tripadvisor_room['review_count'])

In [52]:
df_tripadvisor_room['room_price_(in_bdt_or_any_other_currency)']=df_tripadvisor_room['room_price_(in_bdt_or_any_other_currency)'].str.extract(r'(\d+\.\d+|\d+)')

In [53]:
df_tripadvisor_room['room_price_(in_bdt_or_any_other_currency)'].fillna('0', inplace=True)

In [54]:
# change to float 
df_tripadvisor_room['room_price_(in_bdt_or_any_other_currency)'] = pd.to_numeric(df_tripadvisor_room['room_price_(in_bdt_or_any_other_currency)'].astype(int))

In [55]:
df_tripadvisor_room['room_price_(in_bdt_or_any_other_currency)'] =df_tripadvisor_room['room_price_(in_bdt_or_any_other_currency)']*0.0091

In [56]:
# check duplicates
df_tripadvisor_room.duplicated(keep='first').value_counts()

False    4414
True       63
dtype: int64

In [57]:
#drop duplicates
df_tripadvisor_room.drop_duplicates(inplace=True)

In [58]:
#RENAME COLUMN NAMES
df_tripadvisor_room.rename(columns={'room_price_(in_bdt_or_any_other_currency)': 'room_price(USD)', 'property_name': 'hotel_name'},inplace = True)

In [59]:
df_booking_hotel.columns

Index(['hotel_name', 'location', 'hotel_rating', 'no_of_reviews', 'room_score',
       'room_type', 'bed_type', 'room_price(USD)', 'final_review_score'],
      dtype='object')

In [60]:
df_booking_hotel.dtypes

hotel_name             object
location               object
hotel_rating          float64
no_of_reviews         float64
room_score            float64
room_type              object
bed_type               object
room_price(USD)       float64
final_review_score     object
dtype: object

In [61]:
df_tripadvisor_room.columns

Index(['hotel_name', 'room_price(USD)', 'review_count', 'room_reviews'], dtype='object')

In [62]:
df_tripadvisor_room.dtypes

hotel_name          object
room_price(USD)    float64
review_count         int64
room_reviews        object
dtype: object

In [63]:
df_tripadvisor_room.head()

,hotel_name,room_price(USD),review_count,room_reviews
0,Sala Samui Choengmon Beach Resort ...,417.2714,2820,"the breakfast is excellent, the pools are real..."
1,Napasai A Belmond Hotel Koh Samui ...,269.9606,1191,"we a had perfect view at the beach, ..."
2,Pimalai Resort And Spa ...,288.1697,3287,it has everything ...
3,Avani+ Mai Khao Phuket Suites & Villas ...,217.3717,144,the villa was very ...
4,Sheraton Samui Resort ...,171.2256,1006,me & my wife stayed there for 3 nights and we ...

In [64]:
import pandas as pd

# Check if the data frames are not empty
if not df_booking_hotel.empty and not df_tripadvisor_room.empty:
    # Extract the "hotel_name" and "property_name" columns from each data frame
    hotel_names = df_booking_hotel['hotel_name'].tolist()
    property_names = df_tripadvisor_room['hotel_name'].tolist()

    # Compare the two lists to find matching names
    matching_names = set(hotel_names) & set(property_names)

    if matching_names:
        # Display the matching names
        for name in matching_names:
            print(name)
    else:
        print("No matching names found.")
else:
    print("One or both of the data frames are empty.")

No matching names found.

In [74]:
df_merge = df_booking_hotel.merge(df_tripadvisor_room, on='room_price(USD)', how='outer')

In [68]:
df_tripadvisor_room

,hotel_name,room_price(USD),review_count,room_reviews
0,Sala Samui Choengmon Beach Resort ...,417.2714,2820,"the breakfast is excellent, the pools are real..."
1,Napasai A Belmond Hotel Koh Samui ...,269.9606,1191,"we a had perfect view at the beach, ..."
2,Pimalai Resort And Spa ...,288.1697,3287,it has everything ...
3,Avani+ Mai Khao Phuket Suites & Villas ...,217.3717,144,the villa was very ...
4,Sheraton Samui Resort ...,171.2256,1006,me & my wife stayed there for 3 nights and we ...
...,...,...,...,...
4472,Irantis Villa ...,0.0000,0,NaN
4473,Dhh - Al Tajer ...,0.0000,0,NaN
4474,Shaibani Building ...,0.0000,0,NaN
4475,Koh - Botanica ...,0.0000,0,NaN
4476,Higuests - Park View Tower ...,0.0000,0,NaN

In [77]:
df_booking_hotel

,hotel_name,location,hotel_rating,no_of_reviews,room_score,room_type,bed_type,room_price(USD),final_review_score
0,Krabi La Playa Resort - Sha Plus ...,Ao Nang Beach ...,8.2,141.0,8.6,Deluxe Double or Twin Room ...,1 double or 2 twins ...,44.29,Very good
1,Kc Beach Club & Pool Villas ...,"Chaweng City Center , Chaweng ...",7.1,193.0,8.8,Double Room with Balcony and Sea View ...,1 queen bed ...,65.31,Good
2,Rawai Vip Villas & Kids Park ...,Rawai Beach ...,8.3,63.0,8.9,2 Bedroom Pool Villa ...,2 queen beds ...,132.07,Very good
3,"Furamaxclusive Sathorn, Bangkok ...","Bang Rak, Bangkok ...",7.7,317.5,8.1,Executive Double Room ...,1 full bed ...,44.36,Good
4,Bo Phut Resort And Spa - Sha Plus ...,Bophut ...,9.3,294.0,9.6,Villa with Garden View ...,1 double or 2 twins ...,188.39,Wonderful
...,...,...,...,...,...,...,...,...,...
3460,Circular House ...,"Boat Quay, Singapore ...",6.5,317.5,8.8,Superior Single Bed in Mixed Dorm ...,2 twin beds ...,63.60,Pleasant
3461,Beary Best! Kampong Glam ...,"Kampong Glam, Singapore ...",6.4,362.0,8.8,Lower Single Capsule - Mixed - Shared Bathroom...,2 twin beds ...,36.01,Pleasant
3462,Ambassador Transit Hotel - Terminal 2 ...,"Changi, Singapore ...",8.1,26.0,8.9,Single Room with Shared Bathroom (12 Hours Usa...,2 twin beds ...,357.07,Very good
3463,K2 Guesthouse Central ...,"Jalan Besar, Singapore ...",6.6,114.0,8.8,Single Bed in Dormitory Room ...,2 twin beds ...,68.98,Pleasant
3464,Heritage Collection On Boat Quay - Quayside Wi...,"Boat Quay, Singapore ...",8.6,410.0,9.0,Loft (No Windows) ...,2 full beds ...,196.80,Very good

In [76]:
df_merge

,hotel_name_x,location,hotel_rating,no_of_reviews,room_score,room_type,bed_type,room_price(USD),final_review_score,hotel_name_y,review_count,room_reviews
0,Krabi La Playa Resort - Sha Plus ...,Ao Nang Beach ...,8.2,141.0,8.6,Deluxe Double or Twin Room ...,1 double or 2 twins ...,44.2900,Very good,NaN,NaN,NaN
1,Kc Beach Club & Pool Villas ...,"Chaweng City Center , Chaweng ...",7.1,193.0,8.8,Double Room with Balcony and Sea View ...,1 queen bed ...,65.3100,Good,NaN,NaN,NaN
2,Rawai Vip Villas & Kids Park ...,Rawai Beach ...,8.3,63.0,8.9,2 Bedroom Pool Villa ...,2 queen beds ...,132.0700,Very good,NaN,NaN,NaN
3,"Furamaxclusive Sathorn, Bangkok ...","Bang Rak, Bangkok ...",7.7,317.5,8.1,Executive Double Room ...,1 full bed ...,44.3600,Good,NaN,NaN,NaN
4,Bo Phut Resort And Spa - Sha Plus ...,Bophut ...,9.3,294.0,9.6,Villa with Garden View ...,1 double or 2 twins ...,188.3900,Wonderful,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
6828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.6589,NaN,Oyo 329 Down Town Hotel ...,0.0,NaN
6829,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0027,NaN,Boonmax Hotel ...,0.0,NaN
6830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,171.3712,NaN,Nasma Luxury Stays ...,0.0,NaN
6831,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.3513,NaN,K11 Chinese Business Hotel ...,0.0,NaN
6832,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.9924,NaN,Grand Square Stay Hotel Apartments ...,2.0,verry good we are enjoy too muchhouse keeping ...