In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [2]:
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [3]:
df_booking = pd.read_csv('/Users/neuefische/project_analysis_booking_com/data/booking_hotel.csv', encoding='windows-1252')

In [4]:
df_booking.head(20)

,Hotel Name,Location,Rating,Review Score,Number of,Room Score,Room Type,Bed Type,Room Price (in BDT or any other currency)
0,Krabi La Playa Resort - SHA Plus,Ao Nang Beach,8.2,Very Good,141,8.6,Deluxe Double or Twin Room,1 double or 2 twins,"146,026"
1,KC Beach Club & Pool Villas,"Chaweng City Center , Chaweng",7.1,Good,193,NaN,Double Room with Balcony and Sea View,1 queen bed,"215,304"
2,Rawai VIP Villas & Kids Park,Rawai Beach,8.3,Very Good,63,8.9,2 Bedroom Pool Villa,2 queen beds,"435,384"
3,"FuramaXclusive Sathorn, Bangkok","Bang Rak, Bangkok",7.7,Good,"1,304",8.1,Executive Double Room,1 full bed,"146,240"
4,Bo Phut Resort and Spa - SHA Plus,Bophut,9.3,Wonderful,294,9.6,Villa with Garden View,1 double or 2 twins,"621,072"
5,Abloom Exclusive Serviced Apartments,"Phaya Thai, Bangkok",8.1,Very Good,295,8.4,One Bedroom Deluxe(Flash Sales),1 full bed,"178,109"
6,"Bandara Suites Silom, Bangkok - SHA Extra Plus","Bang Rak, Bangkok",8.3,Very Good,"1,045",8.7,Studio,1 double or 2 twins,"176,217"
7,Bhukitta Boutique Hotel,Phuket,7.6,Good,236,8.0,Superior Double or Twin Room,1 queen bed,"84,658"
8,Hotel Verdigris,Phuket,9.4,Wonderful,60,9.7,Twin Room,2 twin beds,"407,481"
9,Combo Beach Hotel Samui,"Chaweng City Center , Chaweng",7.7,Good,689,8.2,Deluxe Double Room,1 full bed,"132,495"
10,Spacious apartment with Ocean view in Panwa,Phuket,9.1,Wonderful,8,9.4,Two-Bedroom Apartment,"3 beds (2 twins, 1 king)","173,845"
11,Explorar Koh Samui - Adults Only Resort and Spa,Mae Nam,9.1,Wonderful,198,9.5,Deluxe Double or Twin Room with Balcony,1 king bed,"384,935"
12,Waterfront Suites Phuket by Centara,Karon Beach,8.5,Very Good,118,8.6,One-Bedroom Suite with Sea View,"3 beds (2 twins, 1 sofa bed)","202,186"
13,Art Mai Gallery Nimman Hotel Chiang Mai - SHA ...,"Nimmanhaemin, Chiang Mai",8.3,Very Good,357,8.8,Premier Art Room,1 double or 2 twins,"199,880"
14,The Leaf Oceanside by Katathani - SHA Extra Plus,"Nang Thong Beach, Khao Lak",8.6,Excellent,372,8.9,Cottage Double or Twin Room,1 double or 2 twins,"101,895"
15,Twin Lotus Resort and Spa - SHA Plus - Adult O...,"Klong Dao Beach, Ko Lanta",8.5,Very Good,348,9.0,Villa with Garden View,1 king bed,"253,604"
16,Siam Subway Hostel and Café,"Bangkok Old Town, Bangkok",9.4,Wonderful,76,9.5,Deluxe King Room with Shared Bathroom,1 queen bed,"98,660"
17,TheView Chaengwattana14 ????????????????14,"Don Muang, Bangkok",8.6,Excellent,118,9.0,One-Bedroom Apartment,1 queen bed,"66,254"
18,The Blanket Hotel Phuket Town - SHA Plus,Phuket,8,Very Good,522,8.6,Deluxe King or Twin Room,2 twin beds,"126,738"
19,The Siamese Hotel,North Pattaya,8.7,Excellent,394,8.9,Deluxe Double Room,1 king bed,"144,177"

In [5]:
df_booking.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3465 entries, 0 to 3464
Data columns (total 9 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Hotel Name                                 3465 non-null   object
 1   Location                                   3465 non-null   object
 2   Rating                                     3365 non-null   object
 3   Review Score                               3359 non-null   object
 4   Number of                                  3359 non-null   object
 5   Room    Score                              2709 non-null   float64
 6   Room Type                                  3465 non-null   object
 7   Bed Type                                   3449 non-null   object
 8   Room Price (in BDT or any other currency)  3465 non-null   object
dtypes: float64(1), object(8)
memory usage: 243.8+ KB

In [6]:
df_booking['Room Price (in BDT or any other currency)'] =df_booking['Room Price (in BDT or any other currency)'].str.strip().str.replace('"', '')

In [7]:
df_booking['Room Price (in BDT or any other currency)']

0         146,026
1         215,304
2         435,384
3         146,240
4         621,072
          ...
3460      209,678
3461      118,712
3462    1,177,140
3463      227,402
3464      648,803
Name: Room Price (in BDT or any other currency), Length: 3465, dtype: object

In [11]:
df = pd.to_numeric(df_booking['Room Price (in BDT or any other currency)'].astype(float))

ValueError: could not convert string to float: '146,026'